################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

#/.gitignore
/Debug
/Release
/x64/Debug
/x64/Release
/.vs/TSPsolver/v16
*.sln
*.vcxproj
/TSPsolver.vcxproj.user
/TSPsolver.vcxproj.filters
/.vs
/TSP
/My Inspector Results - TSPsolver
/My Advisor Results - TSPsolver
/*.tsp
/*.txt
/TSPLIB/*.txt
/x64/Testunit/vc142.pdb
/x64/Testunit/TSPsolver.vcxproj.FileListAbsolute.txt
/x64/Testunit/TSPsolver.tlog/TSPsolver.write.1u.tlog
/x64/Testunit/TSPsolver.tlog/TSPsolver.lastbuildstate
/x64/Testunit/TSPsolver.tlog/link.write.1.tlog
/x64/Testunit/TSPsolver.tlog/link.read.1.tlog
/x64/Testunit/TSPsolver.tlog/link.command.1.tlog
/x64/Testunit/TSPsolver.tlog/CL.write.1.tlog
/x64/Testunit/TSPsolver.tlog/CL.read.1.tlog
/x64/Testunit/TSPsolver.tlog/CL.command.1.tlog
/x64/Testunit/TSPsolver.pdb
/x64/Testunit/TSPsolver.log
/x64/Testunit/TSPsolver.ipdb
/x64/Testunit/TSPsolver.iobj
/x64/Testunit/TSPsolver.exe
/x64/Testunit/TSPsolver.Build.CppClean.log
/x64/Testunit/tsp.obj
/x64/Testunit/testing.obj
/x64/Testunit/main.obj
/x64/Testing/vc142.pdb
/x64/Testing/TSPsolver.tlog/TSPsolver.write.1u.tlog
/x64/Testing/TSPsolver.tlog/TSPsolver.lastbuildstate
/x64/Testing/TSPsolver.tlog/link.write.1.tlog
/x64/Testing/TSPsolver.tlog/link.read.1.tlog
/x64/Testing/TSPsolver.tlog/link.command.1.tlog
/x64/Testing/TSPsolver.tlog/CL.write.1.tlog
/x64/Testing/TSPsolver.tlog/CL.read.1.tlog
/x64/Testing/TSPsolver.tlog/CL.command.1.tlog
/x64/Testing/TSPsolver.pdb
/x64/Testing/TSPsolver.log
/x64/Testing/TSPsolver.ipdb
/x64/Testing/TSPsolver.iobj
/x64/Testing/TSPsolver.exe
/x64/Testing/tsp.obj
/x64/Testing/testing.obj
/x64/Testing/main.obj
/VTune Profiler Results/TSPsolver/TSPsolver.vtuneproj
/TSPLIB/TSPsolver.exe
/TSPLIB/update.cmd
/TSPLIB/testset_3a_names.txt
/TSPLIB/testset_2a_names.txt
/TSPLIB/testset_2a.txt
/rand_inst/k/testset.txt
